.Alert{
    margin: 30px auto;
    border: 2px solid black;
    width: 300px;
}
.primary{
    background: #4169E1;
}
.success{
    background: #98FB98;
}
.danger{
    background: red;
}
.warning{
    background: Yellow;
}
.alertClose{
    background: black;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;

}